.box1 {
    min-height: 100px;
  }
  
  .box2 {
    height: 100px;
  }

  body {
    font: 1.2em / 1.5 sans-serif;
    padding: 1em;
  }
  
  .box {
    border: 5px solid #000;
    width: 400px;
    margin-bottom: 1em;
  }